/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  width: 100%;
  height: 128px;
}
nav ul {
  list-style: none;
  position: relative;
  top: 0;
  display: flex;
}
nav ul li {
  height: 128px;
  width: 128px;
  background: red;
}
nav ul li#facebook {
  background-image: url("../images/social-grey/social-grey.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  cursor: pointer;
  transition: all 250ms linear;
}
nav ul li#facebook:hover {
  background-image: url("../images/social-color/social-color.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}
nav ul li#github {
  background-image: url("../images/social-grey/social-grey.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -128px 0;
  cursor: pointer;
  transition: all 250ms linear;
}
nav ul li#github:hover {
  background-image: url("../images/social-color/social-color.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -128px 0;
}
nav ul li#instagram {
  background-image: url("../images/social-grey/social-grey.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -256px 0;
  cursor: pointer;
  transition: all 250ms linear;
}
nav ul li#instagram:hover {
  background-image: url("../images/social-color/social-color.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -256px 0;
}
nav ul li#linkedIn {
  background-image: url("../images/social-grey/social-grey.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -384px 0;
  cursor: pointer;
  transition: all 250ms linear;
}
nav ul li#linkedIn:hover {
  background-image: url("../images/social-color/social-color.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -384 0;
}

#container {
  width: 100%;
  height: calc(100vh - 128px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.2);
}
#container section {
  padding: 2em 10em;
}
#container section p {
  font-family: "Montserrat", sans-serif;
  line-height: 2em;
  background: #FFF;
  padding: 4em;
  opacity: 0.6;
  background-image: url("../images/0002.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
}

/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in HSLA *//*# sourceMappingURL=style.css.map */