/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
///my css starts here
/// 
nav { 
    width: 100%;
    height: 128px;
    ul {
        list-style: none;
        position: relative;
        top: 0;
        display: flex;
        li {
            height: 128px;
            width: 128px;
            // display: inline-block;
            background: red;
        }
        li#facebook {
            background-image: url("../images/social-grey/social-grey.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0 0;
            cursor: pointer;
            transition: all 250ms linear;
        }
        li#facebook:hover {
            background-image: url("../images/social-color/social-color.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0 0;
        }
        li#github {
            background-image: url("../images/social-grey/social-grey.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: -128px 0;
            cursor: pointer;
            transition: all 250ms linear;
        }
        li#github:hover {
            background-image: url("../images/social-color/social-color.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: -128px 0;
        }
        li#instagram {
            background-image: url("../images/social-grey/social-grey.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: -256px 0;
            cursor: pointer;
            transition: all 250ms linear;
        }
        li#instagram:hover {
            background-image: url("../images/social-color/social-color.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: -256px 0;
        }
        li#linkedIn {
            background-image: url("../images/social-grey/social-grey.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: -384px 0;
            cursor: pointer;
            transition: all 250ms linear;
        }
        li#linkedIn:hover {
            background-image: url("../images/social-color/social-color.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: -384 0;
        }
       
    }
}
#container {
    width: 100%;
    height: calc(100vh - 128px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.2);
    // background: url("../images/0001.png") no-repeat;
    // background-size: cover;
    // background: #000;
    // background-image: linear-gradient(45deg, black, white, red);
    section {
        // background-image: url('../images/complex.svg'), url('../images/sky-blue.svg'),;
        // background-position:  right bottom, left top, ;
        // background-repeat: no-repeat, repeat,;
        // height: 50%;
        padding: 2em 10em;

        p {
            font-family: 'Montserrat', sans-serif;
            // color: red;
            line-height: 2em;
            background: #FFF;
            padding: 4em;
            opacity: 0.6;
            // border: 10em solid transparent;
            background-image: url("../images/0002.png");
            // background-size: contain;
            background-size: cover;
            background-repeat: no-repeat;
            // background-origin: border-box;
            // background-origin: padding-box;
            // background-origin: content-box;
            background-clip: border-box;
            // background-clip: padding-box;
            // background-clip: content-box;

        }
    }
}

// font-family: 'Montserrat', sans-serif;
// font-family: 'Orbitron', sans-serif;

/* Color Theme Swatches in Hex */
// $DCLEX:-Stock-trading-on-blockchain-1-hex: #BF656D;
// $DCLEX:-Stock-trading-on-blockchain-2-hex: #B379D9;
// $DCLEX:-Stock-trading-on-blockchain-3-hex: #482973;
// $DCLEX:-Stock-trading-on-blockchain-4-hex: #704BBF;
// $DCLEX:-Stock-trading-on-blockchain-5-hex: #0D0D0D;

/* Color Theme Swatches in RGBA */
// $DCLEX:-Stock-trading-on-blockchain-1-rgba: rgba(191,101,108, 1);
// $DCLEX:-Stock-trading-on-blockchain-2-rgba: rgba(178,121,216, 1);
// $DCLEX:-Stock-trading-on-blockchain-3-rgba: rgba(71,41,114, 1);
// $DCLEX:-Stock-trading-on-blockchain-4-rgba: rgba(111,74,191, 1);
// $DCLEX:-Stock-trading-on-blockchain-5-rgba: rgba(12,12,12, 1);

/* Color Theme Swatches in HSLA */
// $DCLEX:-Stock-trading-on-blockchain-1-hsla: hsla(354, 41, 57, 1);
// $DCLEX:-Stock-trading-on-blockchain-2-hsla: hsla(275, 55, 66, 1);
// $DCLEX:-Stock-trading-on-blockchain-3-hsla: hsla(264, 47, 30, 1);
// $DCLEX:-Stock-trading-on-blockchain-4-hsla: hsla(258, 47, 52, 1);
// $DCLEX:-Stock-trading-on-blockchain-5-hsla: hsla(0, 0, 5, 1);
